@use '../../../../public/assets/styles/all-styles.scss' as all;

.contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin: 100px 0 0 70px;
  font-family: 'Inter-regular';
  background-color: all.$color-light-gray;

  &__title {
    display: flex;
    align-items: center;
    gap: 30px;

    h2 {
      font-family: 'Inter-bold';
      font-size: 48px;
    }

    p {
      border-left: 3px solid all.$color-light-blue;
      padding: 10px 0 10px 30px;
      font-size: 23px;
    }
  }
}

.details {
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    align-items: center;
    gap: 40px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      width: 90px;
      font-size: 32px;
      border: 3px solid all.$color-white;
      border-radius: 50%;
      color: all.$color-white;

      h2 {
        font-weight: 500;
        border: none;
      }
    }

    .name-options {
      display: flex;
      flex-direction: column;
      gap: 4px;
      h3 {
        font-size: 36px;
        font-weight: 500;
      }

      .options {
        display: flex;
        gap: 18px;

        button {
          display: flex;
          align-items: center;
          gap: 6px;
        }

        .option-hover {
          display: none;
        }

        button:hover {
          color: all.$color-light-blue;
          img {
            display: none;
          }

          .option-hover {
            display: block;
          }
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h4 {
      font-size: 18px;
      font-weight: 400;
      margin: 50px 0 20px 0;
    }

    .email {
      color: all.$color-light-blue;
    }
  }
}
