<header class="app-header">
  <span class="app-title">Kanban Project Management Tool</span>

  <div class="header-actions">
    <button class="help-btn" aria-label="Help">
      <img src="/assets/icons/help.png" />
    </button>
    <div class="avatarmenu">
      <div class="user-avatar">VL</div>
      <div class="dropdown-menu" [class.open]="dropdownOpen">
        <ul>
          <li>Legal Notice</li>
          <li>Privacy Policy</li>
          <li>Log out</li>
        </ul>
      </div>
    </div>
  </div>
</header>
