@use '../../../../public/assets/styles/all-styles.scss' as all;


.app-header {
 font-family: 'Inter-regular' , sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
  background: all.$color-white;
  border-bottom: 5px solid #e0e0e0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  width: 100%;
  height: 64px;
}

.app-title {
  font-size: 18px;
  color: all.$color-black;
  margin-left: 200px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.help-btn {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 16px;
    height: 16px;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid all.$color-black;
  color: all.$color-light-blue;
  background: transparent;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: #eef4fb;
  }
}

.avatar-wrapper {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background: #2d3748;
  border-radius: 8px;
  min-width: 125px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  &.open {
    display: block;
  }

  ul {
    border-radius: 8px;
  }

  li {
    padding: 14px 20px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background: #3d4f66;
    }
  }
}
