<header class="app-header">
  <div class="content">
    <img class="mobile-logo" src="assets/icons/logo/Logo2.png" alt="Logo" />
    <span class="app-title">Kanban Project Management Tool</span>

    <div class="header-actions">
      <button class="help-btn" aria-label="Help">
        <img src="assets/icons/help.png" />
      </button>
      <div class="avatarmenu">
        <button
          type="button"
          class="user-avatar"
          [cdkMenuTriggerFor]="avatarMenu"
          [cdkMenuPosition]="avatarMenuPositions"
        >
          VL
        </button>
      </div>
    </div>
  </div>
</header>

<ng-template #avatarMenu>
  <div class="dropdown-menu" cdkMenu>
    <button class="help-mobile" cdkMenuItem>Help</button>
    <button cdkMenuItem>Legal Notice</button>
    <button cdkMenuItem>Privacy Policy</button>
    <button cdkMenuItem>Log out</button>
  </div>
</ng-template>
