<section class="section_task_board">
    <div class="board-header">
        <h1 class="board-title">Board</h1>

        <div class="spacer"></div>

        <div class="search-wrapper">
            <input type="text" class="search-input" placeholder="Find Task" />
            <span class="search-divider"></span>
            <button class="search-btn" aria-label="Search">
                <img src="assets/icons/search.png" class="search-icon" alt="search" />
            </button>
        </div>

        <button class="add-btn" aria-label="Add task">
            <span class="add-label">Add task</span>
            <span class="plus">+</span>
        </button>
    </div>

    <div class="column_wrapper">
        <div class="column_tasks">
            <div class="column_title_wrapper">
                <h2>To do</h2>
                <button class="column_add_task_btn">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 1V9" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        <path d="M9 5.07544L1 5.07544" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                    </svg>

                </button>
            </div>

            <div class="column_tasks_card_wrapper">
                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>
            </div>
        </div>

        <div class="column_tasks">
            <div class="column_title_wrapper">
                <h2>In progress</h2>
                <button class="column_add_task_btn">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 1V9" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        <path d="M9 5.07544L1 5.07544" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                    </svg>

                </button>
            </div>

            <div class="column_tasks_card_wrapper">
                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

            </div>
        </div>

        <div class="column_tasks">
            <div class="column_title_wrapper">
                <h2>Await feedback</h2>
                <button class="column_add_task_btn">
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 1V9" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                        <path d="M9 5.07544L1 5.07544" stroke="#2A3647" stroke-width="2" stroke-linecap="round" />
                    </svg>

                </button>
            </div>

            <div class="column_tasks_card_wrapper">
                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>
            </div>
        </div>

        <div class="column_tasks">
            <div class="column_title_wrapper">
                <h2>Done</h2>
            </div>

            <div class="column_tasks_card_wrapper">
                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>

                <div class="column_task_card">
                    <h3>Contact Form & Imprint</h3>
                    <p>Create a contact form and imprint page...</p>
                </div>
            </div>
        </div>
    </div>

</section>