<section>
  <div class="content">
    <div class="header">
      <a routerLink="" class="logo">
        <img src="assets/icons/logo/logo-black.png" alt="logo black" />
      </a>
      <div class="option">
        <span>Not a Join user?</span>
        <a routerLink="/signup">
          Sign up
        </a>
      </div>
    </div>

    <div class="form">
      <form [formGroup]="signInForm" (ngSubmit)="authenticate()">
        <h2>Log in</h2>
        <div class="line"></div>
        <label for="email">
          <input type="email" name="email" id="email" placeholder="Email" formControlName="email" />
          <img src="" alt="" />

          @if (isFormValid()) {
            @if (email?.hasError('required')) {
              <span>your email is required</span>
            }

            @if (email?.hasError('pattern')) {
              <span>your email is not valid</span>
            }
          }
        </label>
        <label for="password">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            formControlName="password"
          />

          @if (isFormValid()) {
            @if (password?.hasError('required')) {
              <span>your password is required</span>

            } @else if (password?.hasError('minlength') && password?.touched) {
              <span>your password is min 8 Character</span>
            }
          }
        </label>
        <div class="login-option">
          <button type="submit">Log in</button>
          <button type="button" (click)="guestSignIN()">Guest Log in</button>
        </div>
      </form>
    </div>

    <div class="header-mobile-option">
      <span>Not a Join user?</span>
      <a routerLink="/signup">
        Sign up
      </a>
    </div>

    <div class="footer">
      <a routerLink="/privacy-policy"> Privacy Policy</a>
      <a routerLink="/legal-notice"> Legal notice</a>
    </div>
  </div>
</section>
