@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  display: flex;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  font-family: 'Inter-regular';
  font-size: 16px;
  background-color: all.$color-light-gray;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    padding: 36px 46px;

    @include all.mobile {
      padding: 18px 8px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  max-height: 127px;

  .logo {
    img {
      width: 101px;
      height: 122px;
      animation-name: logoAnimation;
      animation-duration: 1s;

      @include all.mobile {
        width: 55px;
        height: 68px;
        animation-name: logoAnimationMobile;
      }
    }
  }

  .option {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 50px;
    font-size: 22px;

    animation-name: signinAnimation;
    animation-duration: 500ms;

    @include all.mobile {
      display: none;
    }

    a {
      color: all.$color-white;
      border-radius: 6px;
      padding: 12px 16px;
      background-color: all.$color-light-dark;
      border: 1px solid all.$color-dark;

      &:hover {
        color: all.$color-dark;
        background-color: all.$color-white;
        border: 1px solid all.$color-dark;
      }
    }
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: signinAnimation;
  animation-duration: 500ms;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 550px;
    padding: 42px 82px;
    border-radius: 22px;
    background-color: all.$color-white;
    box-shadow: 0px 0px 14px 3px #0000000a;
    h2 {
      font-family: 'Inter-bold';
      font-size: 54px;
    }

    .line {
      width: 112px;
      height: 2px;
      margin: 18px 0 18px 0;
      background-color: all.$color-light-blue;
    }

    label {
      width: 100%;
      height: 66px;

      input {
        width: 100%;
        height: 46px;
        padding: 6px 12px;
        border-radius: 8px;
        border: 2px solid all.$color-light-gray;
      }

      span {
        margin: 0 0 0 6px;
        color: all.$color-red;
      }
    }

    .login-option {
      display: flex;
      justify-content: center;
      gap: 33px;
      width: 100%;
      margin: 16px 0 0 0;
      font-size: 22px;

      button {
        padding: 12px 22px;
        border-radius: 8px;
        font-weight: bold;

        &:hover {
          box-shadow: 0px 3px 4px 2px #00000030;
        }
      }

      .btn-signin {
        background-color: all.$color-dark;
        color: all.$color-white;

        &:hover {
          background-color: all.$color-light-blue;
        }
      }

      .btn-guest-signin {
        color: all.$color-dark;
        border: 2px solid all.$color-dark;

        &:hover {
          color: all.$color-light-blue;
          border: 2px solid all.$color-light-blue;
        }
      }
    }

    @include all.mobile {
      gap: 12px;
      width: 300px;
      padding: 12px;

      h2 {
        font-size: 26px;
        margin-top: 12px;
      }

      .line {
        margin-top: 0;
        width: 62px;
        height: 2px;
      }

      label {
        input {
          height: 36px;
          padding: 6px 12px;
          border-radius: 6px;
        }
      }

      .login-option {
        gap: 13px;
        width: 100%;
        margin: 6px 0 0 0;
        font-size: 16px;

        a {
          padding: 6px 12px;
          border-radius: 6px;
        }
      }
    }
  }
}

.header-mobile-option {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 50px;
  font-size: 18px;

  @include all.mobile {
    display: flex;
  }

  a {
    color: all.$color-white;
    border-radius: 6px;
    background-color: all.$color-light-dark;
    padding: 12px 16px;
    border: 1px solid all.$color-light-dark;

    &:hover {
      color: all.$color-dark;
      background-color: all.$color-white;
      border: 1px solid all.$color-dark;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  gap: 22px;
  font-size: 22px;
  color: all.$color-dark-gray;
  animation-name: signinAnimation;
  animation-duration: 500ms;

  a:hover {
    color: all.$color-dark;
  }

  @include all.mobile {
    gap: 12px;
    font-size: 16px;
  }
}

@keyframes logoAnimation {
  from {
    top: 50dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 202px;
    height: 244px;
  }

  to {
    top: 0;
    left: 0;
    z-index: 5;
    width: 101px;
    height: 122px;
  }
}

@keyframes logoAnimationMobile {
  from {
    top: 50dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 101px;
    height: 122px;
  }

  to {
    top: 0;
    left: 0;
    z-index: 5;
    width: 55px;
    height: 68px;
  }
}

@keyframes signinAnimation {
  from {
    z-index: -10;
  }

  to {
    z-index: 1;
  }
}
