<div class="fake">
  <article>
    <div class="category-option">
      <span>Technical Task</span>
      <button [cdkMenuTriggerFor]="menu">
        <img src="assets/icons/move-option.png" alt="move-option" />
      </button>
      <ng-template #menu>
        <div class="move-menu" cdkMenu>
          <span>Move to</span>
          <button cdkMenuItem>
            <img src="assets/icons/arrow-upward.png" alt="downward" />
            To-do
          </button>
          <button cdkMenuItem>
            <img src="assets/icons/arrow-downward.png" alt="upward" />
            Review
          </button>
        </div>
      </ng-template>
    </div>

    <h3 class="limit-two-lines">
      HTML base Templateeation reate reusable Html base Templa reate reusable Html base Templa
    </h3>

    <p class="limit-two-lines">
      Create reusable Html basereate reusable Html base Templareate reusable Html base Templa reate
      reusable Html base Templa Templates
    </p>

    <div class="subtasks">
      <mat-progress-bar
        mode="determinate"
        value="50"
        aria-label="subtasks-progress"
        class="subtasks__progress"
      ></mat-progress-bar>

      1/2 Subtasks
    </div>

    <div class="members-priority">
      <div class="members-content">
        <span class="member">EL</span>
        <span class="right-8 member">OG</span>
        <span class="right-16 member">BZ</span>
        <span class="right-12">+3</span>
      </div>
      <div class="priority">
        <img src="assets/icons/priority-medium.png" alt="priority-medium" class="priority__img" />
      </div>
    </div>
  </article>
</div>
