@use '../../public/assets/styles/all-styles.scss' as all;

.content {
  display: flex;
  width: 100%;
  background-color: all.$color-gray;

  &__header-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 210px;

    @include all.notebook {
      padding-left: 150px;
    }

    @include all.tablet {
      padding-left: 130px;
    }

    @include all.mobile {
      padding-left: 0;
    }
  }
}
