@use '../../public/assets/styles/all-styles.scss' as all;

.app-shell {
  display: flex;
  width: 100%;
  background-color: all.$color-gray;

  &__content {
    display: flex;
    width: 100%;
    max-width: 1440px;
    min-height: 100dvh;
  }
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}