<section>
  <div class="content">
    <div class="header">
      <a routerLink="" class="logo">
        <img src="assets/icons/logo/logo-black.png" alt="logo black" />
      </a>
      <div class="option">
        <span>Not a Join user?</span>
        <a routerLink="">
          <button>Sign up</button>
        </a>
      </div>
    </div>

    <div class="form">
      <form action="#">
        <h2>Log in</h2>
        <div class="line"></div>
        <label for="email">
          <input type="email" name="email" id="email" placeholder="Email" />
          <img src="" alt="" />
          <span></span>
        </label>
        <label for="password">
          <input type="password" id="password" name="password" placeholder="Password" />
          <span></span>
        </label>
        <div class="login-option">
          <a routerLink="">Log in</a>
          <a routerLink="">Guest Log in</a>
        </div>
      </form>
    </div>

    <div class="header-mobile-option">
      <span>Not a Join user?</span>
      <a routerLink="">
        <button>Sign up</button>
      </a>
    </div>

    <div class="footer">
      <a routerLink=""> Privacy Policy</a>
      <a routerLink=""> Legal notice</a>
    </div>
  </div>
</section>
