// #region Color Variables

$primary-color: #2A3647;
$secondary-color: #29abe2;

$color-blue: #007cee;
$color-light-blue: #29abe2;
$color-dark-blue: rgba(12, 53, 90, 0.784);
$color-white: #ffffff;
$color-gray: #e0dfdf;
$color-light-gray: #f6f7f8;
$color-dark-gray: #b5b2b2;
$color-black: #000000;
$color-dark: #091931;
$color-light-dark: #2a3647;
$color-orange: #ffa800;
$color-dark-orange: #ff745e;
$color-green: #7ae229;
$color-light-green: #c3ff2b;
$color-yellow: #ffe62b;
$color-dark-yellow: #ffc701;
$color-purple: #9327ff;
$color-red: #ff3d00;
$color-light-red: #ff4646;
