<div class="sidebar-root">
  <section class="sidebar">
    <div class="sidebar__header">
      <a routerLink=""> <img src="assets/icons/logo/logo.png" alt="logo" class="logo" /></a>
      <ul class="navigation">
        <li>
          <a routerLink="">
            <img src="assets/icons/summary.png" alt="summary" class="icon-normal" />
            <img src="assets/icons/summary-hover.png" alt="summary" class="icon-hover" />
            Summary
          </a>
        </li>
        <li>
          <a routerLink="/add-task" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/icons/add-task.png" alt="add-task" class="icon-normal" />
            <img src="assets/icons/add-task-hover.png" alt="add-task" class="icon-hover" />
            Add Task
          </a>
        </li>
        <li>
          <a routerLink="/board">
            <img src="assets/icons/board.png" alt="board" class="icon-normal" />
            <img src="assets/icons/board-hover.png" alt="board" class="icon-hover" />
            Board
          </a>
        </li>
        <li>
          <a routerLink="/contacts" routerLinkActive="active">
            <img src="assets/icons/contacts.png" alt="contact" class="icon-normal" />
            <img src="assets/icons/contacts-hover.png" alt="contact" class="icon-hover" />
            Contacts
          </a>
        </li>
      </ul>
    </div>

    <ul class="sidebar__footer">
      <li><a routerLink="">Privacy Policy</a></li>
      <li><a routerLink="">Legal notice</a></li>
    </ul>
  </section>

  <section class="navigation-mobile">
    <ul>
      <li>
        <a routerLink="">
          <img src="assets/icons/summary.png" alt="summary" class="icon-normal" />
          <img src="assets/icons/summary-hover.png" alt="summary" class="icon-hover" />
          Summary
        </a>
      </li>
      <li>
        <a routerLink="/add-task" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <img src="assets/icons/add-task.png" alt="add-task" class="icon-normal" />
          <img src="assets/icons/add-task-hover.png" alt="add-task" class="icon-hover" />
          Add Task
        </a>
      </li>
      <li>
        <a routerLink="" class="nav-link">
          <img src="assets/icons/board.png" alt="board" class="icon-normal" />
          <img src="assets/icons/board-hover.png" alt="board" class="icon-hover" />
          Board
        </a>
      </li>
      <li>
        <a routerLink="/contacts" routerLinkActive="active">
          <img src="assets/icons/contacts.png" alt="contact" class="icon-normal" />
          <img src="assets/icons/contacts-hover.png" alt="contact" class="icon-hover" />
          Contacts
        </a>
      </li>
    </ul>
  </section>
</div>
