<div class="fake-div-1">
  <section class="sidebar">
    <div class="sidebar__header">
      <a routerLink=""> <img src="assets/icons/logo/logo.png" alt="logo" class="logo" /></a>
      <ul class="navigation">
        <li>
          <a routerLink="">
            <img src="assets/icons/summary.png" alt="summary" class="icon-normal" />
            <img src="assets/icons/summary-hover.png" alt="summary" class="icon-hover" />
            Summary
          </a>
        </li>
        <li>
          <a routerLink="">
            <img src="assets/icons/add-task.png" alt="add-task" class="icon-normal" />
            <img src="assets/icons/add-task-hover.png" alt="add-task" class="icon-hover" />
            Add Task
          </a>
        </li>
        <li>
          <a routerLink="">
            <img src="assets/icons/board.png" alt="board" class="icon-normal" />
            <img src="assets/icons/board-hover.png" alt="board" class="icon-hover" />
            Board
          </a>
        </li>
        <li>
          <a routerLink="/contacts">
            <img src="assets/icons/contacts.png" alt="contact" class="icon-normal" />
            <img src="assets/icons/contacts-hover.png" alt="contact" class="icon-hover" />
            Contacts
          </a>
        </li>
      </ul>
    </div>

    <ul class="sidebar__footer">
      <li><a routerLink="">Privacy Policy</a></li>
      <li><a routerLink="">Legal notice</a></li>
    </ul>
  </section>

  <section class="navigation-mobile">
    <ul>
      <li>
        <a routerLink="">
          <img src="assets/icons/summary.png" alt="summary" class="icon-normal" />
          <img src="assets/icons/summary-hover.png" alt="summary" class="icon-hover" />
          Summary
        </a>
      </li>
      <li>
        <a routerLink="">
          <img src="assets/icons/add-task.png" alt="add-task" class="icon-normal" />
          <img src="assets/icons/add-task-hover.png" alt="add-task" class="icon-hover" />
          Add Task
        </a>
      </li>
      <li>
        <a routerLink="" class="nav-link">
          <img src="assets/icons/board.png" alt="board" class="icon-normal" />
          <img src="assets/icons/board-hover.png" alt="board" class="icon-hover" />
          Board
        </a>
      </li>
      <li>
        <a routerLink="">
          <img src="assets/icons/contacts.png" alt="contact" class="icon-normal" />
          <img src="assets/icons/contacts-hover.png" alt="contact" class="icon-hover" />
          Contacts
        </a>
      </li>
    </ul>
  </section>

  <div class="fake-div">
    Where does it come from? Contrary to popular belief, Lorem Ipsum is not simply random text. It
    has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
    the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the
    cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes
    from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
    Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
    during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes
    from a line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is
    reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
    Malorum" by Cicero are also reproduced in their exact original form, accompanied by English
    versions from the 1914 translation by H. Rackham.
  </div>
</div>
