@use '../public/assets/styles/all-styles.scss' as all;

html,
body {
  font-family: 'Inter-regular', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  list-style: none;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  background: initial;
  border: initial;
}

a {
  transition: .125s;
  cursor: pointer;
}

button {
  transition: .125s;
  cursor: pointer;
}